In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from arch import arch_model
import statsmodels.api as sm
import yfinance as yf
from datetime import datetime

In [11]:
# define the date range
start = datetime(2020, 5, 1)
end = datetime(2025, 5, 1)

# Fetch data
df_ndx = yf.download('^NDX', start=start, end=end)
df_tka = yf.download('TKA.DE', start=start, end=end)
df_usdpln = yf.download('PLN=X', start=start, end=end)
df_brent = yf.download('BZ=F', start=start, end=end)
df_eth = yf.download('ETH-USD', start=start, end=end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [12]:
dataframes = [df_ndx, df_tka, df_usdpln, df_brent, df_eth]
tickers = ['NDX', 'TKA', 'USDPLN', 'Brent', 'ETH']

for df in dataframes:
    df.columns = df.columns.droplevel(1)

In [14]:
# Check NaN values
for name, df in zip(tickers, dataframes):
    print(f"NaN values in {name}: {df.isna().sum().sum()}")

NaN values in NDX: 0
NaN values in TKA: 0
NaN values in USDPLN: 0
NaN values in Brent: 0
NaN values in ETH: 0

In [15]:
# Extract 'Close' for each asset and rename the column
data = pd.DataFrame({
    'Thyssenkrupp': df_tka['Close'],
    'USDPLN': df_usdpln['Close'],
    'BrentOil': df_brent['Close'],
    'Ethereum': df_eth['Close'],
    'NASDAQ': df_ndx['Close']
})

In [16]:
data

            Thyssenkrupp    USDPLN   BrentOil     Ethereum        NASDAQ
Date
2020-05-01           NaN  4.150900  26.440001   214.219101   8718.179688
2020-05-02           NaN       NaN        NaN   215.325378           NaN
2020-05-03           NaN       NaN        NaN   210.933151           NaN
2020-05-04       4.81665  4.166819  27.200001   208.174011   8834.110352
2020-05-05       4.98306  4.168550  30.969999   206.774399   8930.620117
...                  ...       ...        ...          ...           ...
2025-04-26           NaN       NaN        NaN  1821.881104           NaN
2025-04-27           NaN       NaN        NaN  1792.864990           NaN
2025-04-28      10.05000  3.761274  65.860001  1798.851807  19427.289062
2025-04-29       9.83200  3.739923  64.250000  1799.175659  19544.949219
2025-04-30      10.02000  3.745800  63.119999  1793.775391  19571.019531

[1826 rows x 5 columns]

In [ ]:
# coś trzeba z tymi NaNami zrobić, bo ETH jest tradowane w weekendy i święta, a inne nie